
		<% if(false){ %>
		<div id = "id_login_div_jumbotron2">
		</div>
		<% } %>
		<div class = "col-md-12">
		&nbsp;
		</div>
		<div class = "col-md-8 col-md-offset-2">
			<div class = "panel panel-default">
				<div class = "panel-heading">
					<h1>About</h1>
				</div>
				<div class = "panel-body">
					examcopedia is an exam questions repository webapp, developed by pandamakes. Our mission is to create a platform where exam questions can be crowd created, crowd rated and crowd used. Free of charge. Forever.
					<hr>
					We created this app out of the frustration of the process of finding the right set of questions at the right time. We have a lot of resources. Loose past papers, trial exams and half yearlies here and there. But the quality, quantity and relevance of the questions and the time taken to collect and compile the questions kept letting us down. Not to mention that one hand-out/print-out that was the photocopy of a photocopy of a photocopy (you all know what I am talking about).
					<hr>
					That is why we created examcopedia. It is currently in its beta stage. We are collecting feedbacks. Contact us, let us know if you have any recommendations/suggestions. But please, check the /changelog to see if your suggestion is already a part of future updates
					<hr>
					<div class = "row">
						<div class = "col-md-4">
							<a id = "id_about_a_pitch" href = "http://www.pandamakes.com.au/pitch/public-appeal-for-examcopedia/" class = "btn btn-default btn-block text-center"><h1><span class = "glyphicon glyphicon-piggy-bank"></span><span class = "glyphicon glyphicon-comment"></span><span class = "glyphicon glyphicon-bullhorn"></span></h1><br>Blog post of the public drive page. <br>Find out how you can help.</a>
						</div>
						<div class = "col-md-4">
							<a id = "id_about_a_changelog" href = "/changelog" class = "btn btn-default btn-block text-center"><h1><span class = "glyphicon glyphicon-list-alt"></span></h1><br>changelog.txt<br>&nbsp;</a>
						</div>
						<div class = "col-md-4 text-center">
							<h1><span class = "glyphicon glyphicon-user"></span></h1><br>e: panda@pandamakes.com.au<br> located in Sydney, happy to chat over coffee
						</div>
					</div>
				</div>
			</div>
		</div>
		