<!doctype html>
<html lang = "en">
<head>
<%- include('header') %>
	
	<script src = "include/cropper.min.js"></script>
	<link rel = "stylesheet" href = "include/cropper.min.css">
</head>
<body>
<%- include('modal') %>
	
	<div class = "jumbotron"></div>
	
	<div class = "container-fluid">
		<div class = "row">
<%- include('navbar') %>
		</div>
		<div class = "row">
			<div class = "col-md-6">
				<div class = "panel panel-primary">
					<div class = "btn btn-primary btn-block panel-heading" data-toggle="collapse" data-target="#id_add_collapseDiv_submitQ">
						<h1>Submit Questions</h1>
					</div>
					<div class = "collapse in" id = "id_add_collapseDiv_submitQ">
						<div class = "panel-body">
							<form role = "form" class = "form form-horizontal">
								<div class = "form-group hidden">
									<label class = "control-label col-md-3" for = "id_core_input_hashedid">hashed id</label>
									<div class = "col-md-5">
										<input disabled id = "id_core_input_hashedid" type = "text" class = "form-control">
									</div>
								</div>
								<div class = "form-group">
									<label class = "required control-label col-md-2" for = "id_core_select_subject">Subject</label>
									<div class = "col-md-5">
										<select class = "form-control" id = "id_core_select_subject">
											<option></option>
										</select>
									</div>
									<div class = "col-md-3">
										<div class = "btn btn-default btn-block" id = "id_core_btn_addsubject">+ subject</div>
									</div>
								</div>
								<hr>
							</form>
								
								<div class = "row">
									<div class = "form-group col-md-10 col-md-offset-1">
										<label class = "required control-label col-md-5" for = "id_core_textarea_qn">Question</label>
										<div class = "col-md-12">
											<textarea class = "form-control" id = "id_core_textarea_qn"></textarea>
										</div>
									</div>
								</div>
								<div class = "row">
									<div class = "col-md-10 col-md-offset-1 text-right">
										<div class = "col-md-12">
											<span class = "hovershow glyphicon glyphicon-question-sign" id = "id_add_glyphicon_how"></span>
										</div>
									</div>
								</div>
								<div class = "row">
								&nbsp;
								</div>
								<div class = "panel panel-default">
									<div class = "panel-heading btn btn-default btn-block" data-toggle = "collapse" data-target="#id_add_div_answer">
										<span class = "glyphicon glyphicon-exclamation-sign"></span> Answer
									</div>
									<div class = "collapse" id = "id_add_div_answer">
										<div class = "panel-body">
											<div class = "col-md-12">
												<textarea class = "form-control" id = "id_core_textarea_ans"></textarea>
											</div>
										</div>
									</div>
								</div>
								<div class = "panel panel-default">
									<div class = "panel-heading btn btn-block btn-default" data-toggle="collapse" data-target="#id_add_div_uploadimages">
										<span class = "glyphicon glyphicon-picture"></span> Attach Images
									</div>
									<div class = "collapse" id = "id_add_div_uploadimages">
										<div class = "panel-body">
											<div class = "col-md-7 col-md-offset-1">
												<input data-allowed-file-extensions='["jpg", "gif", "png", "svg" , "pdf", "tiff"]' id = "id_add_file_file" name = "id_modal_file_file[]" data-show-upload="false" data-show-caption="true" multiple type = "file">
											</div>
											<div class = "col-md-4 ">
												<div class = "col-md-12">
													<h4><span class = "glyphicon glyphicon-phone"></span>Upload</h4>
												</div>
												<div class = "col-md-12" id = "id_add_div_qrcode">
												</div>
											</div>
										</div>
									</div>
								</div>
								<hr>
							<form role = "form" class = "form form-horizontal">
								<div class = "panel panel-default">
									<div class = "panel-heading btn btn-default btn-block" data-toggle="collapse" data-target="#id_add_div_moreoptions">
										<span class = "glyphicon glyphicon-cog"></span> Options
									</div>
									<div class = "collapse" id = "id_add_div_moreoptions">
										<div class = "panel-body">
											<div class = "form-group hidden" id = "id_add_formgroup_spaces">
												<div class = "row">
													<label class = "control-label col-md-3" for = "id_core_mixed_space">Suggested Space</label>
													<div class = "col-md-9 form-inline">
														<input  class = "form-control" type = "text" id = "id_core_mixed_space_num"></input>
														<select class = "form-control" id = "id_core_mixed_space_type">
															<option selected>lines</option>
															<option>box</option>
															<option>blank</option>
														</select>
													</div>
												</div>
											</div>
											
											<div class = "row hidden">
												<div class = "col-md-6 col-md-offset-3">
													<div class = "btn btn-danger disabled" id = "id_add_btn_lessspace">
														<span class = "glyphicon glyphicon-minus-sign"></span>
													</div>
													<div class = "btn btn-success" id = "id_add_btn_morespace">
														<span class = "glyphicon glyphicon-plus-sign"></span>
													</div>
												</div>
											</div>
											<div class = "form-group">
												<label class = "control-label col-md-3" for ="id_core_input_marks">Suggested Marks</label>
												<div class = "col-md-5">
													<input class = "form-control" id = "id_core_input_marks"></input>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class = "panel panel-default">
									<div class = "panel-heading btn btn-default btn-block" data-toggle="collapse" data-target="#id_add_div_fileunder">
										<span class = "glyphicon glyphicon-tags"></span> Categorise
									</div>
									<div class = "collapse" id = "id_add_div_fileunder">
										<div class = "panel-body">
											<div class = "form-group">
												<label class = "control-label col-md-2" for = "id_core_select_syllabus">Syllabus</label>
												<div class = "col-md-5">
													<select class = "form-control" id = "id_core_select_syllabus">
														<option></option>
													</select>
												</div>
												<div class = "col-md-3">
													<div class = "btn btn-default btn-block" id = "id_core_btn_addcurriculum">
														+ curriculum
													</div>
												</div>
											</div>
											<div class = "form-group">
												<label class = "control-label col-md-2" for = "id_core_btn_select_dp">Dot Point</label>
													<div class = "col-md-5">
														<input type = "text" class = "form-control" id = "id_core_input_dp" disabled></input>
													</div>
													<div class = " col-md-2">
														<div class = "btn btn-default disabled" id = "id_core_btn_choosedp" >
															choose dp
														</div>
													</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class = "panel-footer text-center">
						<div class = "btn btn-primary btn-lg" id = "id_core_input_addsubmit">Submit</div>
					</div>
				</div>
			</div>
			<div class = "col-md-6">
				<div class = "panel panel-primary">
					<div class = "panel-heading btn btn-primary btn-block" data-toggle = "collapse" data-target="#id_add_collapseDiv_uploadImageOCR">
						<h1>OCR Extract Text (beta)</h1>
					</div>
					<div class = "collapse" id = "id_add_collapseDiv_uploadImageOCR">
						<div class = "panel-body">
							<div class = "col-md-12" id = "id_add_divContainer_OCRContainer">
								<input data-allowed-file-extensions='["jpg", "gif", "png", <%#"svg" , "pdf",%> "tiff"]' id = "id_add_file_OCR" name = "id_modal_file_file[]" data-show-upload="false" data-show-caption="true" multiple type = "file">
							</div>
							<div class = "col-md-12 hidden" id = "id_add_divContainer_OCREditor">
								<img id = "id_add_img_OCR">
								
								</img>
								<div class = "col-md-12 well">
									crop and: <div class = "disabled btn btn-primary">to text via OCR</div> <div class = "disabled btn btn-warning">to image</div>
								</div>
								<div class = "col-md-12">
									<textarea class = "form-control" id = "id_add_textarea_OCRResult" placeholder = "Standby ..."></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class = "col-md-6">
			&nbsp;
			</div>
			<div class = "col-md-6">
				<div class = "panel panel-info">
					<div class = "panel-heading btn btn-info btn-block" data-toggle = "collapse" data-target = "#id_add_collapseDiv_previewQ">
						<h1>Preview</h1>
					</div>
					<div class = "collapse in" id = "id_add_collapseDiv_previewQ">
						<div class = "panel-body">
							<div class = "well well-lg hidden" id = "id_core_well_qn">
							</div>
							<div class = "well well-lg hidden" id = "id_core_well_ans">
							</div>
							<div class = "well well-lg imgtank">
							</div>
						</div>
					</div>
					<!--
					<div class = "panel-footer">
					</div>
					-->
				</div>
			</div>
		</div>
	</div>
</body>
</html>