
		<div class = "col-md-12">
		&nbsp;
		</div>
		<div class = "col-md-8 col-md-offset-2">
			<div class = "panel panel-default">
				<div class = "panel-heading">
					<h1>API</h1>
				</div>
				<div class = "panel-body">
					<h2>Step 1:</h2>
					Create an account, and go to the profile page (By clicking <strong>Hello YourName</strong>).
					<hr>
					<h2>Step 2:</h2>
					Under <strong>Personal Profile</strong> click <strong>Enable API</strong>
					<hr>
					<h2>Step 3:</h2>
					Make API calls using the following methods: <br>
					<%- include('api-methods') %>
				</div>
			</div>
		</div>
		