
<h3>request:</h3>
<pre>
	url : 'http://join.examcopedia.club/pingQ',
	type : 'post',
	data : {
			apikey : YOUR-SECRET-KEY,
			mode : 'random'|'all',
			[subject : SUBJECT,]
			[syllabus : SYLLABUS,
				[dp : DP,]]
			[hashed_id : HASHED_ID,]
		}
</pre>
nb: <br>
[] are optional selection criteria.<br>
mode : random will respond with one random question (weighted) that satisfy the selection criteria<br>
mode : all will return ALL questions that satisfy the selection criteria.<br><br>

<h3>response:</h3>
<pre>
	[
		{
		subject : SUBJECT,
		hashed_id : HASHED_ID,
		question : QUESTION,
		answer : ANSWER,
		space : SPACE,
		mark : MARK,
		note : NOTE
		},
		...
	]
</pre>
nb: <br>
Returns array, <br>
Space and note fields are mostly obsolete, <br>
Be mindful of tags, in particular [imgFILENAME_jpg w=50] translates to GET(http://join.examcopedia.club/img/HASHED_ID/FILENAME.jpg), and set width to 50% <br>
Other tags such as [sub THIS TEXT IS BEEN SUBBED],[sup SUPPED]. 
