	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>examcopedia - one stop, many exams</title>
	
	<!-- JQ and BS delivered by CDN -->
	<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src = "https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
	
	<script src = "include/canvas-to-blob.min.js"></script>
	<script src = "include/fileinput.min.js"></script>
	<link rel = "stylesheet" href = "include/fileinput.min.css">
	
	<script src = "include/jquery.qrcode-0.12.0.min.js"></script>
	
	<script src = "include/jquery.sha256.min.js"></script>
	
	<script src="/socket.io/socket.io.js"></script>
	
	<script src = "include/js.js"></script>
	<link rel = "stylesheet" href = "include/css.css">
	
