<!doctype html>
<html lang = "en">
<head>
<%- include('header') %>
	
</head>
<body>
<%- include('modal') %>
	
	<div class = "jumbotron"></div>
	
	<div class = "container-fluid">
		<div class = "row">
<%- include('navbar') %>	
		</div>
		<div class = "row page">
			<div class = "col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<div class = "spacer hidden-xs hidden-sm">
				</div>
				<div id = "id_login_well_sampler" class = "well">
					<br class = "hidden-xs hidden-sm">
					<div class = "hidden-xs hidden-sm">
					</div>
					<h1 class = "text-center">Auto Q</h1>
					<br class = "hidden-xs hidden-sm">
					<div class = "panel panel-default">
						<div class = "hidden panel-heading text-center">
							<h3>auto q</h3>
						</div>
						<div class = "panel-body" id = "id_login_panelbody_randomQuestionPanelBody">
							<nav class = "navbar navbar-default" id = "id_login_nav_randomQuestionNav">
								<div id = "id_login_nav_randomQuestionNavBg">
								</div>
								<div class ="container-fluid">
									<ul class = "nav navbar-nav">
										<li><h5><span id = "id_login_span_subjectIndicator">Random, 10s</span></h5></li>
									</ul>
									
									<ul class = "nav navbar-nav navbar-right hidden-xs">
										<li><div class = "btn btn-default" id = "id_login_btn_cog"><span class = "glyphicon glyphicon-cog"></span></div></li>
										<li><div class = "btn btn-default" id = "id_login_btn_playpause"><span class = "glyphicon glyphicon-play hidden"></span><span class = "glyphicon glyphicon-pause"></span></div></li>
										<li><div class = "btn btn-default" id = "id_login_btn_next"><span class = "glyphicon glyphicon-step-forward"></span></div></li>
									</ul>
								</div>
							</nav>
							<h5 class = "col-md-10 col-md-offset-1" id = "id_login_div_randomQuestionRenderer"></h5>
							
						</div>
					</div>
					<h1 class = "text-center"><small></small></h1>
				</div>
				<div class = "spacer hidden-xs hidden-sm">
				</div>
			</div>
		</div>
	</div>
</body>
</html>