<!doctype html>
<html lang = "en">
<head>
<%- include('header') %>
	
</head>
<body>
<%- include('modal') %>
	
	<div class = "jumbotron"></div>
	
	<div class = "container-fluid">
		<div class = "row">
<%- include('navbar') %>	
		</div>
		<div class = "row">
			<div class = "col-md-8 col-md-offset-2">
				<div class = "panel panel-default">
					<div class = "panel-heading">
						<h1>examcopedia</h1>
					</div>
					<div class = "panel-body">
						<p>examcopedia is a webapp where users can add, view, compile exam styled questions, relevant and timely, completely free, forever. </p>
						<p>gone are the days that it took hours to find, prepare and format questions relevant to the lecture materials.</p>
						<p>gone are the days where handouts are photocopy of photocopy of photocopy.</p>
					</div>
				</div>
			</div>
			<div class = "col-md-8 col-md-offset-2">
				<div class = "row">
					<div class = "col-md-4">
						<div class = "btn btn-primary btn-lg btn-block col-md-12" id = "id_landing_btn_add">
							<h1>Add </h1>
						</div>
					</div>
					<div class = "col-md-4">
						<div class = "btn btn-warning btn-lg btn-block col-md-12" id = "id_landing_btn_view">
							<h1>View/Generate</h1>
						</div>
					</div>
					<div class = "col-md-4">
						<div class = "btn btn-success btn-lg btn-block col-md-12" id = "id_landing_btn_categorise">
							<h1>Categorise</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>