<!doctype html>
<html lang = "en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>examcopedia - one stop, many exams</title>	
	
	<!-- JQ and BS delivered by CDN -->
	<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<script src = "include/jquery.slimscroll.min.js"></script>
	<link rel = "stylesheet" href = "include/css.css">
	<script src = "include/js.login.js"></script>
	
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
<div id="id_core_modal_warning" class="modal fade" role="dialog">
  <div class="modal-dialog">

	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Info</h4>
	  </div>
	  <div class="modal-body">
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  </div>
	</div>
  </div>
</div>
	
<div class = "jumbotron"></div>

<div class = "container-fluid">
		<div class = "row">
<%- include('navbar') %>	
		</div>
		<div class = "row">
			<div class = "col-xs-6 col-xs-offset-3 text-center">
				<img id = "id_core_img_logo" src = "img/logoLg.png" />
			</div>
		</div>
	<div class = "row">
		<div class = "col-md-12">
			&nbsp;
		</div>
<%- include('login-panel') %>
		<div class = "col-md-8 col-md-offset-2">
			<div class = "panel panel-warning">
				<div class = "panel-heading text-center">
					<h3>Sampler</h3>
				</div>
				<div class = "panel-body" id = "id_login_panelbody_randomQuestionPanelBody">
					<nav class = "navbar navbar-default" id = "id_login_nav_randomQuestionNav">
						<div id = "id_login_nav_randomQuestionNavBg"></div>
						<div class ="container-fluid">
							<ul class = "nav navbar-nav">
								<li><h5><span id = "id_login_span_subjectIndicator">Subject</span></h5></li>
							</ul>
							
							<ul class = "nav navbar-nav navbar-right hidden-xs">
								<li><div class = "btn btn-default" id = "id_login_btn_playpause"><span class = "glyphicon glyphicon-play hidden"></span><span class = "glyphicon glyphicon-pause"></span></div></li>
								<li><div class = "btn btn-default" id = "id_login_btn_next"><span class = "glyphicon glyphicon-step-forward"></span></div></li>
							</ul>
						</div>
					</nav>
					<h2 class = "col-md-10 col-md-offset-1" id = "id_login_div_randomQuestionRenderer">
					</h2>
				</div>
			</div>
		</div>
	</div>
<%# include('about-content') %>
	<% if(false){ %>
	<div class = "row page">
		<div id = "id_login_div_jumbotron2">
		</div>
		<div class = "col-md-12">
		&nbsp;
		</div>
		<div class = "col-md-8 col-md-offset-2">
			<div class = "panel panel-default">
				<div class = "panel-heading text-center">
					<h3>About</h3>
				</div>
				<div class = "panel-body">
					examcopedia is an exam questions repository webapp, developed by pandamakes. Our mission is to create a platform where exam questions can be crowd created, crowd rated and crowd used. Free of charge. Forever.
					<hr>
					We created this app out of the frustration of the process of finding the right set of questions at the right time. Comparing to fellow private tutors, we have a lot of resources. Loose past papers, trial exams and half yearlies here and there. But the quality, quantity and relevance of the questions and the time taken to collect and compile the questions kept letting us down. Not to mention that one hand-out/print-out that was the photocopy of a photocopy of a photocopy (you all know what I am talking about).
					<hr>
					That is why we created examcopedia. It is currently in its beta stage. We are collecting feedbacks. Contact us, let us know if you have any recommendations/suggestions. But please, check the /changelog to see if your suggestion is already a part of future updates
					<hr>
					<div class = "row">
						<div class = "col-md-4">
							<a id = "id_about_a_pitch" href = "http://www.pandamakes.com.au/pitch/public-appeal-for-examcopedia/" class = "btn btn-default btn-block text-center"><h1><span class = "glyphicon glyphicon-piggy-bank"></span><span class = "glyphicon glyphicon-comment"></span><span class = "glyphicon glyphicon-bullhorn"></span></h1><br>Blog post of the public drive page. <br>Find out how you can help.</a>
						</div>
						<div class = "col-md-4">
							<a id = "id_about_a_changelog" href = "/changelog" class = "btn btn-default btn-block text-center"><h1><span class = "glyphicon glyphicon-list-alt"></span></h1><br>changelog.txt<br>&nbsp;</a>
						</div>
						<div class = "col-md-4 text-center">
							<h1><span class = "glyphicon glyphicon-user"></span></h1><br>e: panda@pandamakes.com.au<br> located in Sydney, happy to chat over coffee
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% } %>
</div>
</body>
</html>