<!doctype html>
<html lang = "en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>examcopedia - one stop, many exams</title>	
	
	<!-- JQ and BS delivered by CDN -->
	<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<script src = "include/jquery.slimscroll.min.js"></script>
	<link rel = "stylesheet" href = "include/css.css">
	<script src = "include/js.login.js"></script>
	
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
<div id="id_core_modal_warning" class="modal fade" role="dialog">
  <div class="modal-dialog">

	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Info</h4>
	  </div>
	  <div class="modal-body">
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  </div>
	</div>
  </div>
</div>
	
<div class = "jumbotron"></div>

<div class = "container-fluid">
	<div class = "row">
<%- include('navbar') %>	
	</div>
<%- include('slideshow') %>
	<div class = "page row">
		<div class = "col-md-12">
			&nbsp;
		</div>
<%- include('login-panel') %>
		<div class = "col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
			<div class = "spacer hidden-xs hidden-sm">
			</div>
			<div id = "id_login_well_sampler" class = "well">
				<br class = "hidden-xs hidden-sm">
				<div class = "hidden-xs hidden-sm">
				</div>
				<h1 class = "text-center">A sample of the questions in our repo:</h1>
				<br class = "hidden-xs hidden-sm">
				<div class = "panel panel-default">
					<div class = "hidden panel-heading text-center">
						<h3>Sampler</h3>
					</div>
					<div class = "panel-body" id = "id_login_panelbody_randomQuestionPanelBody">
						<nav class = "navbar navbar-default" id = "id_login_nav_randomQuestionNav">
							<div id = "id_login_nav_randomQuestionNavBg"></div>
							<div class ="container-fluid">
								<ul class = "nav navbar-nav">
									<li><h5><span id = "id_login_span_subjectIndicator">Subject</span></h5></li>
								</ul>
								
								<ul class = "nav navbar-nav navbar-right hidden-xs">
									<li><div class = "btn btn-default" id = "id_login_btn_playpause"><span class = "glyphicon glyphicon-play hidden"></span><span class = "glyphicon glyphicon-pause"></span></div></li>
									<li><div class = "btn btn-default" id = "id_login_btn_next"><span class = "glyphicon glyphicon-step-forward"></span></div></li>
								</ul>
							</div>
						</nav>
						<h5 class = "col-md-10 col-md-offset-1" id = "id_login_div_randomQuestionRenderer"></h5>
						
					</div>
				</div>
				<h1 class = "text-center"><small> + many more</small></h1>
			</div>
			<div class = "spacer hidden-xs hidden-sm">
			</div>
		</div>
	</div>
	<div id = "page3" class = "row page">
		<div class = "coverpage">
		</div>
		<div class = " col-sm-12 col-xs-12 col-md-4 col-md-offset-2">
			<div class = "panel panel-default">
				<div class = "btn btn-block btn-default panel-heading" data-toggle = "collapse" data-target="#id_login_div_howDoesItWork">
					<h2>How does it work?</h2>
				</div>
				<div class = "collapse in" id = "id_login_div_howDoesItWork">
					<div class = "panel-body">
						<div class = "col-xs-4">
							<img src = "img/banner/how1.jpg">
							<p class = "text-center">everyone can add, everyone can get</p>
						</div>
						<div class = "col-xs-4">
							<img src = "img/banner/how2.jpg">
							<p class = "text-center">everyone can discuss, comment</p>
						</div>
						<div class = "col-xs-4">
							<img src = "img/banner/how3.jpg">
							<p class = "text-center">you add once, everyone benefit forever</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class = " col-sm-12 col-xs-12 col-md-4">
			<div class = "panel panel-default">
				<div class = "panel-heading btn btn-default btn-block" data-toggle = "collapse" data-target="#id_login_div_faq">
					<h2>FAQ</h2>
				</div>
				<div class = "collapse in" id = "id_login_div_faq">
					<div class = "panel-body">
					<h4>
					Is it completely free? Like, completely completely free?<br>
					<small>Yes. It's completely free, forever</small><br><br>
					I have a problem. How do I contact you?<br>
					<small>Leave a message in the general chatter, or e-mail at panda@pandamakes.com.au</small><br><br>
					</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>