
	<nav class = "navbar navbar-default">
		<div class = "navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse_navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			</button>
			<a class = "navbar-brand" id = "id_navbar_home" href = "/">examcopedia</a>
		</div>
		<div class="collapse navbar-collapse" id="collapse_navbar">
			<ul class = "nav navbar-nav" id = "id_navbar_ttcontrol">
				<li class = "hidden-sm hidden-lg hidden-xl"><a href = "/profile" id = "id_navbar_profile">Hello <%= user.displayName %></a></li>
				<li><a href = "/add" id = "id_navbar_add"><span class = "glyphicon glyphicon-plus"></span> add</a></li>
				<li><a href = "/view" id = "id_navbar_view"><span class = "glyphicon glyphicon-search"></span> view/ generate</a></li>
				<li><a href = "/categorise" id = "id_navbar_categorise"><span class = "glyphicon glyphicon-tags"></span> categorise</a></li>
			</ul>
			<ul class = "nav navbar-nav navbar-right">
				<li class = "hidden-xs"><a href = "/profile" id = "id_navbar_profile">Hello <%= user.displayName %></a></li>
				<li><a href ="#" id = "id_navbar_chatter"><span class = "glyphicon glyphicon-comment"></span> chatter</a></li>
				<li><a href = "/about" id = "id_navbar_about"><span class = "glyphicon glyphicon-tint"></span> about</a></li>
				<li><a href = "/logout" id = "id_navbar_logout"><span class="glyphicon glyphicon-log-out"></span> logout</a></li>
			</ul>
		</div>
	</nav>