<div class = "row page ">
	<div id = "id_banner" class = "hidden-xs hidden-sm carousel slide" data-ride = "carousel">
		<ol class="carousel-indicators">
			<li data-target="#id_banner" data-slide-to="0" class="active"></li>
			<li data-target="#id_banner" data-slide-to="1"></li>
			<li data-target="#id_banner" data-slide-to="2"></li>
			<li data-target="#id_banner" data-slide-to="3"></li>
		</ol>
		<div class = "carousel-inner" role = "list-box">
			<div id = "id_slider_div_sampler" class = "item active">
				<img src = "img/banner/sampler.jpg">
				<div class = "col-md-offset-7 col-lg-offset-7 col-md-4 col-lg-4">
					<a href = "/random?v=physics" class = "btn btn-primary btn-block btn-lg">random physics quiz</a>
					<a href = "/random?v=chemistry" class = "btn btn-danger btn-block btn-lg">random chemistry quiz</a>
					<a href = "/random?v=biology" class = "btn btn-warning btn-block btn-lg">random biology quiz</a>
				</div>
			</div>
			<div class = "item">
				<img src = "img/banner/banner2.jpg">
			</div>
			<div class = "item">
				<img src = "img/banner/banner3.jpg">
			</div>
			<div class = "item">
				<img src = "img/banner/banner1.jpg">
			</div>
		</div>
	</div>
	<div id = "id_slidshow_imgContainer_logo" class = "hidden-md hidden-lg col-xs-12 text-center">
		<div class = "col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4">
			<img class = "hiddennog" id = "id_core_img_logo" src = "img/logoLg.png" />
		</div>
		<h1>examcopedia <br><small> one stop, many exams</small></h1>
	</div>
</div>
