<html>	
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){


$('#test').mousedown(function(){
	$('html,body').css('cursor','crosshair');
})
.mouseup(function(){
	$('html,body').css('cursor','default');

})
})
</script>
<div class = "rsow" id = "test">
test
</div>
</html>