<!doctype html>
<html lang = "en">
<head>
<%- include('header') %>
</head>
<body>
	<div id="id_view_modal_editcomment" class="modal fade" role="dialog">
	  <div class="col-md-10 col-md-offset-1">

		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Edit/Comment</h4>
		  </div>
		  <div class="modal-body">
			<div class = "row">
				<div id = "id_view_div_LH" class = "col-md-6 col-md-offset-1">
					<form role = "form" class = "form form-horizontal">
						<div class = "form-group hidden">
							<label class = "control-label col-md-3" for = "id_view_input_hashedid">hashed id</label>
							<div class = "col-md-5">
								<input disabled id = "id_view_input_hashedid" type = "text" class = "form-control">
							</div>
						</div>
						<div class = "form-group">
							<label class = "required control-label col-md-2" for = "id_core_select_subject">Subject</label>
							<div class = "col-md-5">
								<select class = "form-control" id = "id_core_select_subject">
									<option></option>
								</select>
							</div>
							<div class = "col-md-3">
								<div class = "btn btn-default btn-block" id = "id_core_btn_addsubject">+ subject</div>
							</div>
						</div>
						<hr>
					</form>
						
						<div class = "row">
							<div class = "form-group col-md-10 col-md-offset-1">
								<label class = "required control-label col-md-5" for = "id_core_textarea_qn">Question</label>
								<div class = "col-md-12">
									<textarea class = "form-control" id = "id_core_textarea_qn"></textarea>
								</div>		
							</div>
						</div>
						<div class = "row">
							<div class = "col-md-10 col-md-offset-1 text-right">
								<div class = "col-md-12">
									<span class = "hovershow glyphicon glyphicon-question-sign" id = "id_add_glyphicon_how"></span>
								</div>
							</div>
						</div>
						<div class = "row">
						&nbsp;
						</div>
						<div class = "panel panel-default">
							<div class = "panel-heading btn btn-default btn-block" data-toggle = "collapse" data-target="#id_add_div_answer">
								<span class = "glyphicon glyphicon-exclamation-sign"></span> Answer
							</div>
							<div class = "collapse" id = "id_add_div_answer">
								<div class = "panel-body">
									<div class = "col-md-12">
										<textarea class = "form-control" id = "id_core_textarea_ans"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class = "row hidden">
							<div class = "col-md-10 col-md-offset-1">
							<i>[img? r=rotation w=width] ? = 1,2,3 ... or filename_extension e.g., [img1 r=90 w=50] or [imgchemistry_JPG r=180]</i><br>
							<i>[sup text] [sub text]</i>
							</div>
						</div>
						<div class = "panel panel-default hidden">
							<div class = "panel-heading btn btn-block btn-default" data-toggle="collapse" data-target="#id_add_div_uploadimages">
								<span class = "glyphicon glyphicon-picture"></span> Attach Images
							</div>
							<div class = "collapse" id = "id_add_div_uploadimages">
								<div class = "panel-body">
									<div class = "col-md-7 col-md-offset-1">
										<input data-allowed-file-extensions='["jpg", "gif", "png", "svg" , "pdf", "tiff"]' id = "id_add_file_file" name = "id_modal_file_file[]" data-show-upload="false" data-show-caption="true" multiple type = "file">
									</div>
									<div class = "col-md-4 ">
										<div class = "col-md-12">
											<h4><span class = "glyphicon glyphicon-phone"></span>Upload</h4>
										</div>
										<div class = "col-md-12" id = "id_add_div_qrcode">
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr>
					<form role = "form" class = "form form-horizontal">
						<div class = "panel panel-default">
							<div class = "panel-heading btn btn-default btn-block" data-toggle="collapse" data-target="#id_add_div_moreoptions">
								<span class = "glyphicon glyphicon-cog"></span> Options
							</div>
							<div class = "collapse" id = "id_add_div_moreoptions">
								<div class = "panel-body">
									<div class = "form-group">
										<label class = "control-label col-md-3" for ="id_core_input_marks">Suggested Marks</label>
										<div class = "col-md-5">
											<input class = "form-control" id = "id_core_input_marks"></input>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div id = "id_view_div_RH" class = "col-md-5">
					<div class = "col-md-9">
						<div class = "row">
							<input id = "id_view_input_chatbox" class = "form-control col-md-8" placeholder = "Enter Comment ...">
						</div>
					</div>
					<div class = "col-md-3">
						<div class = "row">
							<div id = "id_view_btn_sendcomment" class = "btn btn-default btn-block">send</div>
						</div>
					</div>
					<div id = "id_view_div_commentContainer" class = "col-md-12">
						<div class = "row">
							<div id = "id_view_well_comment" class = "well">
							</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
		  <div class="modal-footer">
			<div class = "row">
				<div class = "hidden col-md-2 col-md-offset-5">
					<div class = "btn btn-block btn-default btn-warning class_view_btn_edit" id = "id_view_btn_swap">
						<span class = "glyphicon glyphicon-refresh"></span> swap for another one
					</div>
				</div>
				<div class = "col-md-2 col-md-offset-7">
					<div class = "panel panel-danger">
						<div class = "panel-header" >
							<div class = "btn btn-danger btn-block" data-toggle = "collapse" data-target="#id_view_panelbody_remove">
								<span class = "glyphicon glyphicon-remove"></span> remove this one
							</div>
						</div>
						<div class = "collapse" id = "id_view_panelbody_remove">
							<div class = "panel-body">
								<div class = "btn btn-default btn-block class_view_btn_edit" id = "id_view_btn_remove_local">
									<span class = "glyphicon glyphicon-map-marker"></span> from local
								</div>
								<div class = "btn btn-default btn-block class_view_btn_edit" id = "id_view_btn_remove_global">
									<span class = "glyphicon glyphicon-globe"></span> from global
								</div>							
							</div>
						</div>
					</div>
				</div>
				<div class = "col-md-2">
					<div class = "panel panel-success">
						<div class = "panel-header" >
							<div class = "btn btn-success btn-block" data-toggle = "collapse" data-target="#id_view_panelbody_save">
								<span class = "glyphicon glyphicon-save"></span> save changes
							</div>
						</div>
						<div class = "collapse" id = "id_view_panelbody_save">
							<div class = "panel-body">
								<div class = "btn btn-default btn-block class_view_btn_edit" id = "id_view_btn_save_local">
									<span class = "glyphicon glyphicon-map-marker"></span> to local
								</div>
								<div class = "btn btn-default btn-block class_view_btn_edit" id = "id_view_btn_save_global">
									<span class = "glyphicon glyphicon-globe"></span> to global
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class = "col-md-1">
					<div class = "btn btn-default btn-block" data-dismiss="modal">
						close
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
<%- include('modal') %>

	<div class = "jumbotron"></div>

	<div class = "container-fluid">
		<div class = "row">
<%- include('navbar') %>	
		</div>
		<div class = "row">
			<div id = "id_view_div_form" class = "col-md-8 col-md-offset-2">
				<div class = "panel panel-warning">
					<div class = "panel-heading">
						<h1>Generate/View Questions</h1>
					</div>
					<div class = "panel-body">
						<form role = "form" class = "form-horizontal">
							<div class = "class_view_div_unitblock">
								<ul class = "nav nav-tabs">
									<li class = "active"><a href = "#" id = "id_view_tab1">By subject</a></li>
									<li><a href = "#" id = "id_view_tab2">By curriculum</a></li>
								</ul>
								<hr>
								<div class = "row" id = "id_view_div_tabcontainer">
									<div class = "col-md-12" id = "id_view_div_tab1">
										<div class = "form-group">
											<label class = "control-label col-md-2" for = "id_core_select_subject">Subject</label>
											<div class = "col-md-5">
												<select class = "form-control" id = "id_core_select_subject">
													<option></option>
												</select>
											</div>
											<div class = "col-md-5">
												<div class = "btn btn-default btn-block" id = "id_core_btn_addsubject">
													+ subject
												</div>
											</div>
										</div>
									</div>
									<div class = "col-md-12 hidden" id = "id_view_div_tab2">
										<div class = "form-group">
											<label class = "control-label col-md-2 required"for = "id_core_select_syllabus">Syllabus</label>
											<div class = "col-md-5">
												<select class = "class_core_select_syllabus form-control" id = "id_core_select_syllabus">
													<option></option>
												</select>
											</div>
											<div class = "col-md-5">
												<div class = "btn btn-default btn-block" id = "id_core_btn_addcurriculum">
													+ curriculum
												</div>
											</div>
										</div>
										<div class = "form-group">
											<label class = "control-label col-md-2" for = "id_core_btn_select_dp">Dot Point</label>
												<div class = "col-md-5">
													<input type = "text" class = "form-control" id = "id_core_input_dp" disabled></input>
												</div>
												<div class = " col-md-5">
													<div class = "btn btn-default disabled" id = "id_core_btn_choosedp" >
														choose dp
													</div>
												</div>
										</div>
									</div>
								</div>
								<hr>
								<div class = "col-md-8 col-md-offset-1">
									<div class = "form-group">
										<label class = "control-label col-md-2" for = "id_core_select_subject"></label>
										<div class = "col-md-5">
											<input disabled id = "id_view_input_option" value = "random : 10" type = "text" class = "form-control">
										</div>
										<div class = "col-md-3">
											<div class = "btn btn-default btn-block btn-option" id = "id_view_btn_option"><span class = "glyphicon glyphicon-cog"></span></div>
										</div>
									</div>
								</div>
								<hr>
							</div>
							<div class = "col-md-12 text-center" id = "id_view_div_qsctrl">
								<div class = "btn btn-danger disabled" id = "id_view_btn_removeblock"><span class = "glyphicon glyphicon-minus-sign"></span></div>
								<div class = "btn btn-success" id = "id_view_btn_addblock"><span class = "glyphicon glyphicon-plus-sign"></span></div>
							</div>
						</form>
					</div>
					<div class = "panel-footer text-center">
						<div class = "btn btn-warning btn-lg" id = "id_core_btn_viewgo">Go</div>
					</div>
				</div>
			</div>
			<div id = "id_view_div_preview" class = "hidden col-md-8 col-md-offset-2">
				<div class = "panel panel-warning">
					<div class = "panel-heading">
						<h1>Preview</h1> 
					</div>
					<div class = "panel-footer">
					<div class = "class_view_btn_startOver btn btn-default">Start Over</div> <div class = "class_view_btn_makePDF btn btn-warning">Make me a PDF</div>
					</div>
					<div class = "panel-body">
					</div>
					<div class = "panel-footer">
					<div class = "class_view_btn_startOver btn btn-default">Start Over</div> <div class = "class_view_btn_makePDF btn btn-warning">Make me a PDF</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$('.class_view_btn_makePDF').off('click').click(function(){
			if($(this).hasClass('disabled')){
				return false;
			}
			$('.class_view_btn_makePDF').addClass('disabled');
			var json = {};
			var panelBody = $('#id_view_div_preview').find('div.panel-body');
			for (var i = 0; i<panelBody.children('div.row').length;i++){
				var blockNumber = 'block' + i;
				json[blockNumber]={};
				var rows = panelBody.children('div.row').eq(i).children('div.row');
				for (var j = 0; j<rows.length; j++){
					var questionNumber = 'question' + j;
					json[blockNumber][questionNumber]={};
					json[blockNumber][questionNumber]['questionNumber'] = rows.eq(j).children('div').eq(0).text();
					json[blockNumber][questionNumber]['questionMark'] = rows.eq(j).children('div').eq(6).text();
					json[blockNumber][questionNumber]['questionBody'] = rows.eq(j).children('div').eq(1).html();
					json[blockNumber][questionNumber]['questionAnswer'] = rows.eq(j).children('div').eq(4).html();/*,rows.eq(j).attr('id');*/
				}
			}
			socket.emit('make pdf',json,function(o){
				if(o.warning){
					$('.class_view_btn_makePDF').removeClass('disabled');
					info_modal(o.warning);
				}else if(o.result=='success'){
					if(o.URLCallback){
						if(o.URLCallback=='failed'){
							$('.class_view_btn_makePDF').removeClass('disabled');
							info_modal('PDF generated and opened in a new window. However, URLCallback has failed.'+o.URLCallbackError);
							window.open(o.url,'_blank');
						}else if(o.URLCallback=='success'){
							$('.class_view_btn_makePDF').removeClass('disabled');
							info_modal('PDF generated and opened in a new window. URLCallback successful.');
							window.open(o.url,'_blank');	
						}
					}else{
						$('.class_view_btn_makePDF').removeClass('disabled');
						info_modal('PDF generated and opened in a new window.');
						window.open(o.url,'_blank');	
					}
				}
			})
		})
		$('.class_view_btn_startOver').off('click').click(function(){
			window.history.back();
		})
	</script>
</body>
</html>