body
{
background-color:#fcfcfc;
overflow-y:scroll;
overflow-x:hidden;
}

#id_view_div_preview div.panel-body > div.row
{
overflow-x:hidden;
}

img#id_add_img_OCR
{
width:100%;
}

div#id_add_div_OCRContainer
{
border:1px solid black;
padding:0;
}

div#id_add_divContainer_OCREditor > .well > .btn + .tooltip > .tooltip-inner
{
width : 200px;
}

canvas
{
width:100%;
}

nav#id_navbar
{
}

.class_add_btn_pdfNav
{
height:100%;
}

img
{
max-width:100%;
}

span img
{
display:inline;
height:100%;
}

.page
{
background:none;
margin-top:-20px;
}

#id_banner
{
min-height:100%;
}

#id_banner ol li
{
border-color:#777;
margin-left:5px;
margin-right:5px;
}

#id_banner ol li.active
{
background-color:#555;
}

.spacer
{
width:100%;
height:200px;
}

#id_login_well_sampler
{
margin-top:20px;
margin-bottom:40px;
}

.page:nth-child(2)
{
background-color:#fff;	
z-index:0;
}

#page3
{
z-index:1;
position:relative;
background-color:#fff;
}

	#page3 .coverpage
	{
	width:100%;
	height:100%;
	opacity:0.3;
	position:absolute;
	z-index:-3;
	top:0;
	left:0;
	bottom:0;
	right:0;
	box-sizing:border-box;
	content:"";
	background: url('background2.jpg') no-repeat;
	background-size:cover;
	background-position:center;
	}

.class_login_div_halflogin
{
padding-top:50px;
padding-bottom:50px;
}

#id_login_span_subjectIndicator
{
padding-left:30px;
font-weight:600;
}

#id_login_div_randomQuestionRenderer
{
padding-top:20px;
padding-bottom:70px;
}

#id_login_nav_randomQuestionNavBg
{
height:100%;
width:100%;
background-color:#eee;
position:absolute;
right:0;
top:0;
}

#id_core_well_chatterbox
{
padding:0;
background-color:#fff;
position:absolute;
right:0;
z-index:10;
}

#id_login_nav_randomQuestionNav
{
min-height:0;
position:relative;
}

#id_login_panelbody_randomQuestionPanelBody
{
padding:0;
}

#id_login_panelheading_loginpanelheading:hover
{
//cursor:pointer
}

#id_view_well_generalChatWell
{
height:600px;
overflow-x:hidden;
overflow-y:scroll;
}

.imgcontainer img
{
visibility:hidden;
}

.imgcontainer
{
display:inline-block;
}

	.imgcontainer:hover
	{
	cursor:pointer;
}

#id_login_img_googlesignin
{
background: url('signinwithgoogle.png') no-repeat;
}

	#id_login_img_googlesignin:hover
	{
	background: url('signinwithgooglehover.png') no-repeat;
	}

#id_login_img_facebooksignin
{
background: url('signinwithfacebook.png') no-repeat;
}

#id_view_div_RH
{
height:500px;
}

#id_view_div_commentContainer
{
height:400px;
}

#id_view_well_comment
{
height:400px;
overflow:hidden;
}

	#id_view_well_comment div.row
	{
	}

#id_login_div_jumbotron2
{
position:absolute;
top:0;
left:0;
margin:0;
padding:0;
display:block;
background:none;
width:100%;
height:100%;
overflow:hidden;
z-index:-1;
opacity:0.2;
background: url('login_about.jpg') no-repeat;
background-size:cover;
background-position:center;
}
	
.jumbotron
{
position:fixed;
top:0;
left:0;
display:block;
background:none;
width:100%;
height:100%;
overflow:hidden;
margin-bottom:0;	
z-index:-1;
}

.jumbotron::after
{
content:"";
opacity:0.3;
position:absolute;
z-index:-3;
top:0;
left:0;
bottom:0;
right:0;
box-sizing:border-box;
background: url('background.jpg') no-repeat;
background-attachment: fixed;
background-size:cover;
background-position:center;
}

textarea.form-control
{
height:150px;
resize:none;
}


.class_dp_btn_createnew
{
border:none;
}

	.class_dp_btn_createnew:hover
	{
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
	}

#id_banner_div_tagline
{
height: 50px;

}
	
.hovershow + .tooltip > .tooltip-inner
{
width:200px;
}

#id_view_glyphicon_select:hover
{
cursor:pointer;
}

#id_add_glyphicon_how:hover
{
cursor:pointer;
}

ul.list-group
{
margin-left:10px;
margin-bottom:1px;
}

li.list-group-item
{
text-align:left;
margin-bottom:1px;
}

.required.control-label:after
{
content:"*";
color:red;
}

div#id_core_btn_morespace
{
margin-top:10px;
}

hr
{
width:90%;
display:block;
}

div.radio label
{
margin-right:20px;
}

.navbar-right
{
}

div#id_add_formgroup_spaces .row
{
padding-bottom:10px;
}

div.class_view_div_unitblock:nth-child(even)
{
background-color:#fafafa;
}

div.clickable:nth-child(1)
{
border-top: 1px solid #ccc;
}

div#id_add_form_imgupload
{
height:136px;
}

.spaces_lines
{
border-bottom:1px solid #000;
}

.spaces_box
{
border-left:1px solid #000;
border-right:1px solid #000;
}
	.spaces_box:first-child
	{
	border-top:1px solid #000;
	}
	
	.spaces_box:last-child
	{
	border-bottom:1px solid #000;
	}

.spaces_blank
{
border:0;
}

.well
{
background-color:#fff;
}

div.clickable
{
padding:10px 5px;
border-bottom: 1px solid #dedede;
}

	div.clickable:hover
	{
	cursor:pointer;
	background-color:#f0f0f0;
	}