textarea.form-control
{
height:150px;
resize:none;
}


.class_dp_btn_createnew
{
border:none;
}

	.class_dp_btn_createnew:hover
	{
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
	}

.hovershow + .tooltip > .tooltip-inner
{
width:200px;
}

#id_add_glyphicon_how:hover
{
cursor:pointer;
}

ul.list-group
{
margin-left:10px;
margin-bottom:1px;
}

li.list-group-item
{
text-align:left;
margin-bottom:1px;
}

.required.control-label:after
{
content:"*";
color:red;
}

div#id_core_btn_morespace
{
margin-top:10px;
}

hr
{
width:90%;
display:block;
}

div.radio label
{
margin-right:20px;
}

.navbar-right
{
display:none;	
}

div#id_add_formgroup_spaces .row
{
padding-bottom:10px;
}

div.class_view_div_unitblock:nth-child(even)
{
background-color:#fafafa;
}

div.clickable:nth-child(1)
{
border-top: 1px solid #ccc;
}

div#id_add_form_imgupload
{
height:136px;
}

.spaces_lines
{
border-bottom:1px solid #000;
}

.spaces_box
{
border-left:1px solid #000;
border-right:1px solid #000;
}
	.spaces_box:first-child
	{
	border-top:1px solid #000;
	}
	
	.spaces_box:last-child
	{
	border-bottom:1px solid #000;
	}

.spaces_blank
{
border:0;
}

.well
{
background-color:#fff;
}

div.clickable
{
padding:10px 5px;
border-bottom: 1px solid #dedede;
}

	div.clickable:hover
	{
	cursor:pointer;
	background-color:#f0f0f0;
	}